<a href="{{ url_for('batch_scan_page', id=batch.batch_id,title=batch.title) }}" >
  <button class="btn btn-success mb-3">Add Scan</button>
</a>
<table class="table flex-wrap text-wrap custom-bordered table-data text-center">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" style="width: 100px">Scan No.</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col" style="min-width: 150px">Defects Detected</th>
      <th scope="col">Grade Quality</th>
      <th scope="col">Farm</th>
      <th scope="col">Image</th>
      <!-- <th scope="col" style="width: 50px;"></th> -->
    </tr>
  </thead>
  <tbody style="border-top: 0">
    {% for defect in scan_lists %}
    <tr class="">
      <td class="text-center align-content-center">
        <div class="">
          <i class="material-icons" style="font-size: 23px; color: red"
            >delete</i
          >
        </div>
      </td>
      <td>{{ defect.scan_number}}</td>
      <td>{{ batch.bean_type }}</td>
      <td>{{ defect.date_scanned.strftime('%H:%M') }}</td>
      <td>{{ defect.date_scanned.strftime('%B %d, %Y') }}</td>
      <td>
        <ul>
          {% for defects_detected in defect.defectsDetected %}
          <li>
            {{defects_detected}}
            <span>{{defect.defectsDetected[defects_detected]}}</span>
          </li>
          {% endfor %}
        </ul>
      </td>
      <td>TBD</td>
      <td>{{ batch.farm }}</td>
      <td><a href="#"> image view soon </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
