{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Bean Defects Detection</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}?v=400" rel="stylesheet"/>
  </head>

  <body>
    <div class="main-container">
      <div class="box-design d-flex align-items-center justify-content-center">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
