{% extends "layout.html" %}

{% block head_content %}
<div class="btn">
    <a class="text-decoration-none" href="{% url "view_scans" objects.batch_id objects.title %}" style="color:black;" >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
    </a>
</div>
{% endblock head_content %}


{% block content %}
{% comment %} <br/>
<div>
    <a>Back</a>
</div>
<br/>
<div>
    <a href="{% url "scan_upload" objects.batch_id objects.title %}">Upload</a>
</div>

<div>
    <a href="{% url "scan" objects.batch_id objects.title %}">Camera</a>
</div> {% endcomment %}
<br>
<div class="row-cols-1 container-fluid option-container text-center align-items-center" style="height: 100vh">
    <div class="col">
        <h1>ADD SCAN</h1>
    </div>
    <div class="col d-flex justify-content-center">
        <div class="d-flex justify-content-center flex-column gap-3">
            <button class="btn btn-success option_btn"><a class="text-decoration-none text-white" href="{% url "scan_upload" objects.batch_id objects.title %} ">UPLOAD</a></button>
            <button class="btn btn-success option_btn"><a class="text-decoration-none text-white" href="{% url "scan" objects.batch_id objects.title %} ">CAMERA</a></button>
        </div>
    </div>
</div>

{% endblock content %}

{% block script_content %}

{% endblock script_content %}

