@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

:root {
  --main-green-theme: rgb(75, 99, 75);
}

.main-container {
  width: 100%; /* Full width of the parent container */
  height: 100vh; /* Full height of the viewport or adjust as needed */
  background-image: url("images/styles/main_bg.png"); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.box-design {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(255, 255, 255, 1) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  /* position: absolute; */
}

.title > h3 {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(75, 99, 75);
}

.btn-success {
  background-color: var(--main-green-theme);
}

.home-buttons,
.home-buttons a,
.home-buttons button {
  width: 100%;
  width: 100%;
}

.borderless {
  border: none;
}

thead {
  color: grey;
}

.table-data th {
  background-color: rgba(128, 128, 128, 0.062);
  vertical-align: middle;
}

.table-data th:first-child {
  background-color: transparent;
}

.table-data td {
  font-weight: 600;
}

table.custom-bordered td,
table.custom-bordered th {
  border: 2px solid #dee2e6; /* Default Bootstrap border color */
}

table.custom-bordered th:first-child,
table.custom-bordered td:first-child {
  border: none; /* Remove borders from the last column */
}

.camera-container {
  height: 80vh;
  min-height: 100px;
  min-width: 200px;
  border: 4px rgb(182, 182, 182) dashed;
  border-radius: 10px;
}

.result-container {
  background-color: var(--main-green-theme);
  border-radius: 10px;
  /* max-height: 100vh; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.form-label {
  font-size: 1.1rem;
  color: white;
}

.form-scan div {
  width: 100%;
}

.img-thumbnail {
  background: transparent;
  border: none;
}

.scan-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
}

.result-title {
  color: white;
  text-wrap: nowrap;
  font-size: 1.4rem;
}

.session-batches-container {
  border-radius: 15px;
  border: 2px var(--main-green-theme) solid;
}

.session-batches-container:hover {
  background-color: var(--main-green-theme);
  color: white;
}

.session-batches,
.session-batches-header {
  text-decoration: none;
  color: black;
}

.delete-session-btn:hover{
  background-color: rgba(255, 0, 0, 0.199);
  color: white;
}

.new-scan-btn:hover{
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
}

.delete-session-btn{
  color: red;
}
.delete-session-btn:hover{
  background-color: rgba(255, 0, 0, 0.781);
  color: white;
}

/* small */
@media screen and (min-width: 576px) {
  .scan-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
  }

  .title > h3 {
    font-size: 3em;
  }
}

.camera-container {
  height: auto;
}

.result-list input {
  all: unset;
  display: none;
}

.scrolling{
  overflow-x: auto;
}



/* medium */
@media screen and (min-width: 768px) {
  .scan-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
  }

  .title > h3 {
    font-size: 4em;
  }
}

/* large */
@media screen and (min-width: 992px) {
  .result-container {
    height: auto;
  }
  .scan-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
  }
  .result-title {
    color: white;
    text-wrap: nowrap;
    font-size: 1.4rem;
  }
  .camera-container {
    height: auto;
  }

  .scan-container {
    min-height: 80vh;
  }
}
