{% extends "user/layout.html" %} {% block content %}
<div class="d-flex flex-column align-items-center gap-5">
  <div class="text-center title">
    <h3>Coffee Bean</h3>
    <h3>Defects Detection</h3>
  </div>
  <div class="home-buttons d-flex gap-3" style="width: 100%">
    <a href="/user/"><button class="btn btn-success">Login</button></a>
    <a href="/user/signup"><button class="btn btn-success">Register</button></a>
    {#<a href="/admin/"><button class="btn btn-success">Admin</button></a>#}
  </div>
</div>
{% endblock content %}
