<div class="d-flex justify-content-between mb-2">
  <button
    class="btn btn-success"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#filter-offcanvas"
    aria-controls="offcanvasWithBothOptions">
    Filter
  </button>

  <div>
    <form method="GET">
      <div class="d-flex">
        <input
          type="text"   
          name="search"
          class="form-control"
          placeholder="Search title"
          {#hx-trigger="keyup[keyCode==13]"
          hx-target="#session-list-container" 
          hx-get="{{ url_for('userDashboard') }}"#}
          />
        <button class="input-group-text btn" id="basic-addon2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </form>
  </div>

  <a href="{{ url_for('userDashboard') }}">
    <button class="btn btn-success">Dashboard</button>
  </a>
  <a href="/scan">
    <button class="btn btn-success">Add New Session +</button>
  </a>

  <div
    class="offcanvas offcanvas-start visible"
    data-bs-scroll="true"
    tabindex="-1"
    id="filter-offcanvas"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        Backdrop with scrolling
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div>
</div>
