<div class="d-flex justify-content-between mb-2">
  <button class="btn btn-success">Filter</button>

  <a href="/user/dashboard" class="">
    <button class="btn btn-success">Dashboard</button>
  </a>
  <a href="/user/update-profile" class="">
    <button class="btn btn-success">Update Profile</button>
  </a>
  <a href="/user/change-password" class="">
    <button class="btn btn-success">Change Password</button>
  </a>
  <a href="/user/logout" class="">
    <button class="btn btn-danger">Logout</button>
  </a>
  <a href="/scan">
    <button class="btn btn-success">Add New Session +</button>
  </a>
</div>
